a  {
    text-decoration: none;
}

.about{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    padding-top: 3rem;
}
    
.about-left img{
    height: 40vh;
}

.about-right-div{
    padding: 2rem 4rem;
    width: 800px;
    color: aqua;
    animation: animate-color 4s 1;
    color: #fff;
    background: linear-gradient(to bottom right, blue, aqua);
    box-shadow: -5px -5px 30px 5px aqua, 5px 5px 30px 5px blue !important;
    border-radius: 20px;
}
.about-right h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.about-right p{
    font-size: 25px;
}

.about-icons{
    text-align: center;
    padding: 0.5rem 0;
}

.about-icons i{
    font-size: 45px;
    padding: 0 2rem;
    cursor: pointer;
}

.a-btn{
    padding: 15px 20px;
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 10px;
    font-size: 19px;
    margin: 0 15px;
    cursor: pointer;
}
.a-btn:hover{
    background: rgba(94, 14, 241, 0.9);
}
.a-btn:active{
    transform: scale(1.01)
}


/* Cube */
@keyframes grow1 {
    from {
      width: 0%
    }
    to {
      width: 80%;
    }
}
@keyframes grow2 {
    from {
        width: 0%
      }
      to {
        width: 60%;
      }
}
@keyframes grow3 {
    from {
        width: 0%
      }
      to {
        width: 50%;
      }
}
@keyframes grow4{
    from {
        width: 0%
      }
      to {
        width: 67%;
      }
}
  #container {
    position: relative;
    width: 90%;
    top: 30px;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding-bottom: 15px;
  }
  input {
    display: none;
  }
  label {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    border-radius: 0.4rem;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: -2px 0 8px 0 rgba(white, 0.6);
  }
  #fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    box-shadow: 0 0 8px 1px white inset;
  }
  .fill-color-1{
    background: linear-gradient(to bottom, #f3a839 35%, #f14b09) !important;
    animation: grow1 2s forwards;
  }
  .fill-color-2{
    background: linear-gradient(to bottom, #0cffeb 35%, #0059fd);
    animation: grow2 2s forwards;
  }
  .fill-color-3{
    background: linear-gradient(to bottom, #eeff04 35%, #fcc100);
    animation: grow3 2s forwards;
  }
  .fill-color-4{
    background: linear-gradient(to bottom, #A3E2EF 35%, #4F9CC0);
    animation: grow4 2s forwards;
  }
  #fill:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('./bubbles-mask.gif');
    mix-blend-mode: overlay;
    opacity: 0.5;
  }


/* //////////////////\\\\\\\\\\\\\\\\\\\\\\\ */


@media screen and (max-width:768px) {
    .about{
        flex-direction: column;
        justify-content: center;
        padding: 0 0 !important;
    }
    .about-right{
        padding-top: 2rem;
    }
    .about-right-div{
        width: 94% !important;
        padding: 2rem 2rem;
        margin: auto;
    }
    .about-right-div p{
        font-size: 18px;
    }
    .about-icons i{
        font-size: 30px;
        padding: 0 1rem;
    }
    .a-btn{
        width: 90%;
        margin-bottom: 10px;
    }
}