.about{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    padding-top: 3rem;
}
    
.about-left img{
    height: 40vh;
}

.about-right{
    padding: 2rem 4rem;
    width: 800px;
    color: aqua;
    animation: animate-color 4s 1;
    color: #fff;
    background: linear-gradient(to bottom right, blue, aqua);
    box-shadow: -5px -5px 30px 5px aqua, 5px 5px 30px 5px blue !important;
    
        transform:
          perspective(750px)
          translate3d(0px, 0px, -250px)
          rotateX(27deg)
          scale(0.9, 0.9);
        border-radius: 20px;
        
        box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
        transition: 0.4s ease-in-out transform;
}
.about-right:hover {
    transform: translate3d(0px, 0px, -250px);
}

.about-right h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.about-right p{
    font-size: 30px;
}

.about-icons{
    text-align: center;
    padding: 0.5rem 0;
}

.about-icons i{
    font-size: 45px;
    padding: 0 2rem;
    color: ;
}

.a-btn{
    
}


/* Cube */
.chart {
    font-size: 1em;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.bar {
    font-size: 1em;
    position: relative;
    height: 10em;
    transition: all 0.3s ease-in-out;
    transform: rotateX(
60deg) rotateY(
0deg);
    transform-style: preserve-3d;
}

.bar .top {
    transform: rotateX(
0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
border: 1px solid rgb(254,254,254);
}

.bar .face {
    font-size: 2em;
    position: relative;
    width: 100%;
    height: 2em;
    background-color: rgba(254, 254, 254, 0.3);
}
.bar .side-0 {
    transform: rotateX(
90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
border: 1px solid rgb(254,254,254);
}
.bar.white .side-a, .bar.white .growing-bar {
    background-color: rgba(247, 12, 12, 0.6);
    border: 1px solid rgb(254,254,254);
}
.bar .face.side-a, .bar .face.side-b {
    width: 2em;
    border: 1px solid rgb(254,254,254);
}
.bar .side-a {
    transform: rotateX(
90deg) rotateY(
-90deg) translateX(2em) translateY(1em) translateZ(1em);
border: 1px solid rgb(254,254,254);
}


.bar .side-b {
    transform: rotateX(
90deg) rotateY(
-90deg) translateX(4em) translateY(1em) translateZ(-1em);
    position: absolute;
    right: 0;
    background: rgba(247, 247, 247, 0.4);
    border: 1px solid rgb(254,254,254);
}

.bar .side-1 {
    transform: rotateX(
90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
border: 1px solid rgb(254,254,254);
}

.growing-bar {
    background-color: rgba(254, 254, 254, 0.6);
    width: 75%;
    height: 2em;
    animation: animatewidth 5s 1 ease-in-out;
}

@keyframes animatewidth{
    from{
        width: 0;
    }
    t0{
        width: 75%;
    }
}

/* //////////////////\\\\\\\\\\\\\\\\\\\\\\\ */


@media screen and (max-width:768px) {
    .about{
        flex-direction: column;
        justify-content: center;
        padding: 0 0 !important;
    }
    .about-right{
        width: 94% !important;
        padding: 2rem 2rem;
        margin: auto;
    }
    .about-right p{
        font-size: 18px;
    }
}